#***********************************************************
#
# Makefile
#
#***********************************************************
ifeq (env.h, $(wildcard env.h))
include env.h
endif
include $(MAKE_PATH)/env/make.env
include $(MAKE_PATH)/make.path
include $(MAKE_PATH)/make.rule
include $(MAKE_PATH)/make.cfg

SDK_NAME := sdk
SDK_LIB_STATIC := lib$(SDK_NAME).a
SDK_LIB_DYNMIC := lib$(SDK_NAME).so
SDK_LIB_DYNMIC_CYGWIN := lib$(SDK_NAME).dll
SDK_MODULE := $(SDK_NAME).ko
CLI_NAME := cli
SDK_CLI_NAME := $(SDK_NAME)_$(CLI_NAME)

ifeq ($(OS_FreeRTOS), YES)
TARGET_SDK := $(SDK_LIB_STATIC)
endif

ifeq ($(OS_Cyg), YES)
ifeq ($(SDK_CYG_EXE_WITH_CLI), YES)
TARGET_ALL := $(SDK_CLI_NAME)
endif
ifeq ($(SDK_CYG_DYN_LIB), YES)
CFLAGS += -fpic
TARGET_SDK := $(SDK_LIB_DYNMIC)
TARGET_ALL += $(TARGET_SDK)
CLI_LIB += -l$(SDK_NAME)
endif
endif

ifeq ($(OS_Linux), YES)
ifeq ($(User_Mode), YES)
ifeq ($(SDK_USER_MODE_EXE_WITH_CLI), YES)
TARGET_ALL := $(SDK_CLI_NAME)
endif
ifeq ($(SDK_USER_MODE_EXE), YES)
TARGET_SDK := $(SDK_NAME)
TARGET_ALL := $(TARGET_SDK)
endif
ifeq ($(SDK_USER_MODE_DYN_LIB), YES)
CFLAGS += -fpic
TARGET_SDK := $(SDK_LIB_DYNMIC)
TARGET_ALL := $(TARGET_SDK)
CLI_LIB += -l$(SDK_NAME)
endif
ifeq ($(SDK_USER_MODE_STATIC_LIB), YES)
TARGET_SDK := $(SDK_LIB_STATIC)
TARGET_ALL := $(TARGET_SDK)
CLI_LIB += -l$(SDK_NAME)
endif
endif

ifeq ($(Kernel_Mode), YES)
ifeq ($(SDK_KERNEL_MODE_MODULE), YES)
TARGET_SDK := $(SDK_MODULE)
TARGET_ALL := $(TARGET_SDK)
endif
endif
endif

ifeq ($(CMD_SIMPLE), YES)
TARGET_CLI := $(CLI_NAME)
ifneq ($(TARGET_ALL), $(SDK_CLI_NAME))
TARGET_ALL += $(TARGET_CLI)
CFLAGS += -fpic
endif
endif

#$(info target_all=$(TARGET_ALL) target_sdk=$(TARGET_SDK) target_cli=$(TARGET_CLI))

CFLAGS += ${SDK_INCLUDES} ${CLI_INCLUDES}

$(SDK_SOURCE_OBJECTS): %o : %c
	echo $(CC) $(CFLAGS) -c $< -o $@
	$(CC) $(CFLAGS) $(SDK_COMPILATION_SWITCHES) $(COMMON_COMPILE_FLAG) -c $< -o $@

$(CLI_SOURCE_OBJECTS): %.d.o : %.c
	echo $(CC) $(CFLAGS) -c $< -o $@
	$(CC) $(CFLAGS) $(CLI_COMPILATION_SWITCHES) $(COMMON_COMPILE_FLAG) -c $< -o $@

.PHONY: all_target sdk_target cli_target

all_target: $(TARGET_ALL)

sdk_target: $(TARGET_SDK)

cli_target: $(TARGET_CLI)

$(SDK_CLI_NAME): $(SDK_SOURCE_OBJECTS) $(CLI_SOURCE_OBJECTS)
	@echo $@
	echo $(CC) $(CFLAGS) -o $@ $^ ${CLI_LIB}
	$(CC) $(CFLAGS) -o $@ $^ ${CLI_LIB}
	$(STRIP) $@
	cp $@ ../release/
	$(OBJSIZE) -d $@

$(CLI_NAME): $(CLI_SOURCE_OBJECTS)
	@echo $@
	echo $(CC) $(CFLAGS) -o $@ $^ ${CLI_LIB}
	$(CC) $(CFLAGS) -o $@ $^ ${CLI_LIB}
	$(STRIP) $@
	cp $@ ../release/
	$(OBJSIZE) -d $@

$(SDK_NAME): $(SDK_SOURCE_OBJECTS)
	@echo $@
	echo $(CC) $(CFLAGS) -o $@ $^
	$(CC) $(CFLAGS) -o $@ $^
	$(STRIP) $@
	cp $@ ../release/
	$(OBJSIZE) -d $@

$(SDK_LIB_STATIC): $(SDK_SOURCE_OBJECTS)
	@echo $@
	echo $(AR) -rcs $@ $^
	$(AR) -rcs $@ $^

$(SDK_LIB_DYNMIC): $(SDK_SOURCE_OBJECTS)
	@echo $@
	$(CC) $(CFLAGS) $(SOFLAGS) -o $@ $^
	$(STRIP) $@
ifeq ($(OS_Cyg), YES)
	-rm -f $(SDK_LIB_DYNMIC_CYGWIN)
	ln -s $(SDK_LIB_DYNMIC) $(SDK_LIB_DYNMIC_CYGWIN)
endif
	$(OBJSIZE) -d $@

$(SDK_MODULE):
	make -f Kbuild

clean:
	-rm -f $(filter-out $(CLEAN_EXCLUDE_FILES), $(shell find ../ -name "*.o"))
	-rm -f $(OUTPT_PATH)/sdk_cmodel
	-rm -f YT.*
	#make -f Kbuild clean
	-rm -f $(SDK_NAME) $(SDK_LIB_STATIC) $(SDK_LIB_DYNMIC) $(CLI_NAME) $(SDK_CLI_NAME) $(SDK_CLI_NAME).exe
	-rm -f $(SDK_LIB_DYNMIC_CYGWIN) $(SDK_MODULE)
	-rm -f Module.symvers $(SDK_NAME).mod.c
